h1{
    background-color:lightgreen; 
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

body{
    text-align: center;
    background-color: aquamarine;
    color: black;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px; 
}

#submit{
    
    font-weight: bold;
    font-size: 20px;
}


#output{
    border: 100px solid salmon;    
}